In [1]:
start = '2018-01-22'
end = '2021-04-22'
ticker = 'AMZN'
index_ticker = '^DJI'

In [2]:
import alpha_quant.common.utils.notebook_utils as nbu
nbu.set_width_global()
nbu.disable_auto_scroll()
import alpha_quant.common.env_config as ecfg

import matplotlib.pyplot as plt
from pandas_datareader.nasdaq_trader import get_nasdaq_symbols
import pandas_datareader.data as web

import pandas as pd
pd.options.display.width = 1000
pd.options.display.max_colwidth = 1000
pd.options.display.max_columns = 1000

### Stooq Index Data

In [3]:
idx_data = web.DataReader(name=index_ticker, data_source='stooq', start=start, end=end)
idx_data.tail()

                Open      High       Low     Close     Volume
Date
2020-01-08  28556.14  28866.18  28522.51  28745.09  291692353
2020-01-07  28639.18  28685.50  28565.28  28583.68  258856933
2020-01-06  28465.50  28708.02  28418.63  28703.38  252686601
2020-01-03  28553.33  28716.31  28500.36  28634.88  239529102
2020-01-02  28638.97  28872.80  28627.77  28868.80  251796100

### Nasdaq Trader Symbol Definitions

In [4]:
symbols = get_nasdaq_symbols()
symbols.head()

        Nasdaq Traded                                                                            Security Name Listing Exchange Market Category    ETF  Round Lot Size  Test Issue Financial Status CQS Symbol NASDAQ Symbol  NextShares
Symbol
A                True                                                  Agilent Technologies, Inc. Common Stock                N                  False           100.0       False              NaN          A             A       False
AA               True                                                          Alcoa Corporation Common Stock                 N                  False           100.0       False              NaN         AA            AA       False
AAA              True                                       Listed Funds Trust AAF First Priority CLO Bond ETF                P                   True           100.0       False              NaN        AAA           AAA       False
AAAU             True                                                   Goldman Sachs Physical Gold ETF Shares                P                   True           100.0       False              NaN       AAAU          AAAU       False
AACG             True  ATA Creativity Global - American Depositary Shares, each representing two common shares                Q               G  False           100.0       False                N        NaN          AACG       False

### Alpha Vantage Stock Data

In [5]:
# api_key = ecfg.get_env_config().get(ecfg.Prop.AV_API_KEY)
# stock_data = web.DataReader(name=ticker, data_source='av-daily-adjusted', start=start, end=end, api_key=api_key)
# stock_data.head()

              open    high     low   close  adjusted close    volume  dividend amount  split coefficient
2020-01-02  323.54  324.89  322.53  324.87      318.802328  59037072              0.0                1.0
2020-01-03  321.16  323.64  321.10  322.41      316.388274  77708081              0.0                1.0
2020-01-06  320.49  323.73  320.36  323.64      317.595301  55596982              0.0                1.0
2020-01-07  323.02  323.54  322.24  322.73      316.702297  40461249              0.0                1.0
2020-01-08  322.94  325.78  322.67  324.45      318.390173  68177241              0.0                1.0